:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    grid-gap: 0em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 400px;
    height: 400px;
  }
  
  .grid-item {
    border: 1px solid #ddd;
    text-align: center;
    margin: 0 0;
    width: 30px;
    height: 30px;
  }

.hovered {
    background-color: blue;
  }